__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/
*.log
.DS_Store
.ipynb_checkpoints/


# Image directories
input/images/
input/images/**/
input/images/1_Training/
input/images/1_Training/**/
 
# Output directories
output/
output/**/

# SAM result images
*_result.png
*_result.jpg
