name: Trigger auto deployment for coralseg-containerapp

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/coralseg-containerapp-AutoDeployTrigger-1c8c7ac0-67c3-440e-bf5e-7dd195ca8d1c.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CORALSEGCONTAINERAPP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CORALSEGCONTAINERAPP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CORALSEGCONTAINERAPP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: coralsegacr.azurecr.io
          registryUsername: ${{ secrets.CORALSEGCONTAINERAPP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CORALSEGCONTAINERAPP_REGISTRY_PASSWORD }}
          containerAppName: coralseg-containerapp
          resourceGroup: DSIAD
          imageToBuild: coralsegacr.azurecr.io/coralseg-containerapp:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


